<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); -%>

<body>
    <%- include('./partials/navigation'); -%>
    <div class="container-fluid">
        <div class="col" style="width: inherit; border-radius: 25px;">
            <h1 style="color: #4c4c4c;font-size: 45px;text-align: center;padding-top: 15px;font-weight: bolder;">
                Hírek
            </h1>
            <div class="row">
                <div class="col-lg-6 col-sm-12 container--wrap center">
                    <h2 style="color: #4c4c4c; font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">Elhalasztják a foci EB-t</h2>
                    <p style="color: #4c4c4c;">
                       Az Euro 2020 labdarúgó-bajnokságot 2021-re halasztották a koronavírus-válság eredményeként - jelentette be a Norvég Labdarúgó Szövetség.
                        A versenyre idén június 12-től július 12-ig került sor 12 országban, ideértve Angliát, Skóciát és az Ír Köztársaságot.
                        A norvég FA tweetelt: „Uefa úgy döntött, hogy az eurót 2021-ig el kell halasztani. A jövő év június 11-jétől július 11-ig kerül lejátszásra.”
                    </p>
                </div>
                
            </div>
            
            <div class="row">
                <div class="col-lg-6 col-sm-12 container--wrap center">
                    <h2 style="color: #4c4c4c; font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">                       Az Egyesült Királyság repülőterei figyelmeztetnek arra, hogy bezárhatnak, hacsak a kormány nem beavatkozik
</h2>
                    <p style="color: #4c4c4c;">

A Heathrow, a Gatwick és a manchesteri repülőtér figyelmeztette, hogy esetleg be kell fejezniük a műveleteket, hacsak nincs kormányzati beavatkozás a koronavírus-krízis elhárításához.

A hívás érkezett, mivel a Nemzetközi Légi Közlekedési Szövetség (Iata) szerint a világszerte kereskedelmi járatokat üzemeltető több mint 700 légitársaság közül csupán 30 valószínűleg túlélné a következő hónapokban segítség nélkül.

A három brit repülőtér együttes levelet írt alá a miniszterelnöknek, figyelmeztetve, hogy esetleg „le kell zárniuk az utasszállító létesítményeket és meg kell állítaniuk az üzemeltetést”, és hogy több százezer munkahelyet „azonnal valódi veszélybe sodornak”. A Heathrow, az Egyesült Királyság legnagyobb repülőtere közvetlenül 70 000 embert foglalkoztat.

Az Egyesült Királyság „nagy recesszióval” szembesül; A Dow három év alatt eléri a piacot, amikor ingadozik - az üzlet él
 Olvass tovább
Az Egyesült Királyságban működő repülőtér-üzemeltetők szövetsége (AOA) kedden azt is kijelentette, hogy más csomópontok hetekben is megszűnhetnek, és felszólított az adók és az üzleti díjak azonnali felfüggesztésére, valamint a sürgősségi finanszírozás biztosítására, mivel a repülőterek áthaladó utasforgalma zuhant. A felhívás az volt, hogy az Egyesült Királyság kormánya tanácsot adott az összes nem alapvetõ külföldi utazás ellen.

A Nemzetközi Repülőterek Tanácsának (ACI) európai tagjai levelet írtak a minisztereknek, hogy az egész kontinensre reagáljanak a válságra, megjegyezve, hogy az EU, az Egyesült Királyság és az EGT repülőterei 100 millióval kevesebb utasnal rendelkeznek, mint amit 2020-ban vártak.

Olaszországban, ahol Európán belül kezdeményezték a járvány kitörését, az utasforgalom 90% -kal csökkent - mondta az ACI. Az egész kontinensen a múlt héten (március 9-15.) 54% -kal alacsonyabb volt a szám, miután az előző héten 24% -kal esett vissza, a helyzet gyorsan eskalálódott.
                    </p>
                </div>
                
            </div>
            
            <div class="row">
                <div class="col-lg-6 col-sm-12 container--wrap center">
                    <h2 style="color: #4c4c4c; font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">Elhalasztják a foci EB-t</h2>
                    <p style="color: #4c4c4c;">
                       Az Euro 2020 labdarúgó-bajnokságot 2021-re halasztották a koronavírus-válság eredményeként - jelentette be a Norvég Labdarúgó Szövetség.
                        A versenyre idén június 12-től július 12-ig került sor 12 országban, ideértve Angliát, Skóciát és az Ír Köztársaságot.
                        A norvég FA tweetelt: „Uefa úgy döntött, hogy az eurót 2021-ig el kell halasztani. A jövő év június 11-jétől július 11-ig kerül lejátszásra.”
                    </p>
                </div>
                
            </div>
            
            <div class="row">
                <div class="col-lg-6 col-sm-12 container--wrap center">
                    <h2 style="color: #4c4c4c; font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">                       Koronavírus: Az Egyesült Királyságnak fel kell emelnie az állami kiadásokat „háborús helyzetben” - költségvetési őrség
</h2>
                    <p style="color: #4c4c4c;">
A Pénzügyminisztérium vezetője szerint Nagy-Britannia „háborús helyzetben” áll, és sürgősen növelnie kell az állami kiadásokat a háztartások és a vállalkozások támogatására a koronavírus kitörés révén, még akkor is, ha az állam drámaian léggömböket kölcsönöz.

Robert Chote, a Költségvetési Felelősségtel foglalkozó Hivatal vezetõje szerint a gazdaság „valószínûleg zsugorodik, amint beszélünk” - káros következményekkel jár az állami pénztárcára -, de most jött az idõ arra, hogy költsön az államadósság figyelembevétele nélkül.

A Pénzügyminisztérium képviselőivel való beszédében azt mondta: „Ez az idő nem az az ideje, hogy az államadósság egyszeri kiegészítéseiről nyújtsanak. Ez inkább egy háborús helyzet, mint ez a pénz, amelyet jól költenek. ”
                    </p>
                </div>
                
            </div>
            
            <div class="row">
                <div class="col-lg-6 col-sm-12 container--wrap center">
                    <h2 style="color: #4c4c4c; font-size: 35px; text-align: center; padding-top: 15px; font-weight: bolder;">                       Globális utazási és idegenforgalmi ipar a túlélésért folytatott harcban - kereskedelmi testület
</h2>
                    <p style="color: #4c4c4c;">
Az utazási és idegenforgalmi ágazat a túlélésért küzd, és a kormányoknak intézkedéscsomagot kell végrehajtaniuk annak érdekében, hogy világszerte mintegy 50 millió munkahely maradjon veszélyben - figyelmeztette a globális kereskedelmi testület.

A Világ Utazási és Idegenforgalmi Tanácsa (WTTC) nyílt levélben felszólította a kormányokat, hogy drasztikus és azonnali lépéseket tegyenek az utazási és turisztikai szektor védelme és megőrzése érdekében.

A WTTC szerint a számadatok azt mutatják, hogy az utazás és az idegenforgalom a globális GDP 10,4% -át és 320 millió munkahelyet képvisel.
                    </p>
                </div>
                
            </div>
            
        </div>
    </div>

    <%- include('./partials/scripts'); -%>
</body>

</html>
